.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  width: 100%;
  font-family: "Muli", sans-serif;
  margin: auto;
}

.section1 {
  min-height: 100vh;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.top {
  max-width: 1120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 49px;
  height: 35px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 322px;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-text {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: #212353;
  font-weight: normal;
}

.nav-text:hover {
  color: #9c69e2;
  font-weight: 600;
}

.button1 {
  width: 210px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button1:hover {
  transform: scale(1.1);
}

.headline {
  width: 80%;
  height: 60vh;
  margin: auto;
  display: flex;
}

.headline-text {
  max-width: 645px;
  max-height: 464px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
  margin-top: 0;
}

p {
  color: #4b5d68;
}

.text1 {
  max-width: 380px;
  max-height: 120px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.button2 {
  height: 60px;
  width: 170px;
  border: none;
  background-color: #9c69e2;
  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.button2:hover {
  transform: scale(1.1);
}

.shopping {
  bottom: 0;
  position: absolute;
  max-width: 800px;
  max-height: 468px;
}

.section2 {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  width: 60%;
  max-height: 560px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 50px;
}

h2 {
  color: #212353;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
}

.image2 {
  max-width: 477px;
  max-height: 504px;
}

.text2 {
  max-width: 475px;
}

.section3 {
  width: 100%;
  max-height: 1138px;
  margin-bottom: 20px;
}

h3 {
  color: #212353;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
}

.title3 {
  max-width: 584px;
  max-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: auto;
}

.text3 {
  font-size: 16px;
  max-width: 160px;
}

.parent3 {
  max-width: 1137px;
  max-height: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.child1 {
  background-image: url("../img/background-first.png");
  background-repeat: no-repeat;
  background-size: 350px 388px;
  background-position: bottom right;
  max-width: 531px;
  min-height: 388px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  flex-grow: 1;
}

.child-image1 {
  max-width: 232px;
  max-height: 211px;
}

.child2 {
  background-image: url("../img/background-second.png");
  background-repeat: no-repeat;
  background-size: 350px 388px;
  background-position: bottom right;
  max-width: 531px;
  min-height: 388px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  flex-grow: 1;
}

.child-image2 {
  max-width: 241px;
  max-height: 185px;
}

.child3 {
  background-image: url("../img/background-third.png");
  background-repeat: no-repeat;
  background-size: 350px 388px;
  background-position: top right;
  max-width: 531px;
  min-height: 388px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  flex-grow: 1;
}

.child-image3 {
  max-width: 245px;
  max-height: 181px;
}

.child4 {
  background-image: url("../img/background-fourth.png");
  background-repeat: no-repeat;
  background-size: 350px 388px;
  background-position: top right;
  max-width: 531px;
  min-height: 388px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  flex-grow: 1;
}

.child-image4 {
  max-width: 230px;
  max-height: 201px;
}

.button3 {
  border: none;
  color: #212353;
  font-style: normal;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 127px;
}

.button3:hover {
  transform: scale(1.1);
}

.section4 {
  background: #9c69e2;
  border-radius: 50px;
  width: 60%;
  height: 60vh;
  padding: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.testimonials {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
  display: flex;
  margin-left: 20px;
}

.rectangle4 {
  background: #ffffff;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  max-width: 645px;
  max-height: 330px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px;
}

.img4 {
  width: 90px;
  height: 90px;
  display: flex;
  align-self: center;
}

.web {
  color: #9c69e2;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
}

.text4 {
  color: #212353;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  max-width: 385px;
  max-height: 200px;
  flex-shrink: 1;
}

.content4 {
  padding: 20px;
}

.section5 {
  max-width: 1118px;
  margin: auto;
  padding: 20px;
}

.line {
  width: 100%;
}

.content5 {
  max-width: 1117px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.buttons5 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.button5 {
  width: 170px;
  height: 60px;
  background: #f063b8;
  border-radius: 50px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  margin-right: 20px;
}

.button5:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  color: #212353;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;
}

h4 {
  font-style: normal;
  color: #212353;
  font-weight: 800;
  font-size: 20px;
  line-height: 160%;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer-text {
  text-decoration: none;
  color: #212353;
  line-height: 250%;
}

.footer-text:hover {
  font-weight: 600;
}

.social-media {
  width: 50px;
  height: 50px;
}

h6 {
  color: #212353;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  .headline {
    display: flex;
    flex-wrap: wrap;
  }

  .shopping {
    width: 100%;
    height: 100%;
  }

  .section3 {
    height: 205vh;
  }

  .section5 {
    height: 100vh;
  }

  .image2 {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 470px) {
  .top {
    justify-content: center;
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
